@using Jinete.ViewModels
@using Resources
@model IEnumerable<CameraViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Equipment.Actions
        </th>
        <th>
            @Equipment.EquipmentName
        </th>
        <th>
            @Equipment.UserName
        </th>
        <th>
            @Equipment.LastCheckedOut
        </th>
        <th>
            @Equipment.LastCheckedIn
        </th>
        <th>
            @Equipment.Sold
        </th>
        <th>
            @Equipment.Discarded
        </th>
        <th>
            @Equipment.LostOrStolen
        </th>
        <th>
            @Equipment.SerialNumber
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item._camera.isCheckedOut == true)
                {
                    @Html.ActionLink("Return", "Return", new { id = item._camera.CameraId })
                }
                else
                {
                    @Html.ActionLink("Check Out", "Checkout", new { id = item._camera.CameraId })
                }<br />
                @Html.ActionLink("Details", "Details", new { id = item._camera.CameraId })<br />
                @Html.ActionLink("Edit", "Edit", new { id = item._camera.CameraId })<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._camera.EquipmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._lastcheckout.dtCheckedOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._lastcheckout.dtReturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._sold.dtSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._camera.Discarded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._camera.LostOrStolen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._camera.SerialNumber)
            </td>
        </tr>
    }

</table>