@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="btn-group pull-left">
        <button type="button" class="btn btn-toolbar navbar-btn dropdown-toggle" data-toggle="dropdown">
            Equipment
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Notebooks", "Index", "Notebook")</li>
            <li>@Html.ActionLink("Laptops", "Index", "Laptop")</li>
            <li>@Html.ActionLink("Desktops", "Index", "Desktop")</li>
            <li>@Html.ActionLink("Monitors", "Index", "Monitor")</li>
            <li>@Html.ActionLink("Cameras", "Index", "Camera")</li>
            <li>@Html.ActionLink("Mobile Phones", "Index", "MobilePhone")</li>
            <li>@Html.ActionLink("Telephones", "Index", "Telephone")</li>
            <li>@Html.ActionLink("Tablets", "Index", "Tablet")</li>
            <li>@Html.ActionLink("Printers", "Index", "Printer")</li>
        </ul>
    </div>
} 
    
