@model Jinete.Models.Telephone

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Telephone</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discarded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discarded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LostOrStolen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LostOrStolen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isCheckedOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCheckedOut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TelephoneId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
