@using Jinete.ViewModels
@model CheckoutCreateModel

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Checkout</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Users, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ApplicationUserId, Model.Users)
                @Html.ValidationMessageFor(model => model.Users)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dtCheckedOut, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dtCheckedOut)
                @Html.ValidationMessageFor(model => model.dtCheckedOut)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
