@using Resources
@model Jinete.ViewModels.NotebookViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notebook</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._notebook.EquipmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._notebook.EquipmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._notebook.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._notebook.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._notebook.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._notebook.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._notebook.Discarded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._notebook.Discarded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._notebook.LostOrStolen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._notebook.LostOrStolen)
        </dd>

    </dl>

    <h4>User Information</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model._notebook.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._notebook.ApplicationUser.FirstName) @Html.DisplayFor(model => model._notebook.ApplicationUser.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._notebook.ApplicationUser.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._notebook.ApplicationUser.Address)
        </dd>


        <dt>
         
        </dt>

        <dd>
            @Html.DisplayFor(model => model._notebook.ApplicationUser.City), @Html.DisplayFor(model => model._notebook.ApplicationUser.State) @Html.DisplayFor(model => model._notebook.ApplicationUser.Zip) 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._notebook.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._notebook.ApplicationUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._notebook.ApplicationUser.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._notebook.ApplicationUser.Phone)
        </dd>

</dl>

    <h4>Checkout Information</h4>
    <hr />

        @if (Model._lastcheckout != null)
        {
            <table class="table">
                <tr>
                    <th>
                        @Equipment.Actions
                    </th>
                    <th>
                        @Equipment.UserName
                    </th>
                    <th>
                        @Equipment.CheckedOut
                    </th>
                    <th>
                        @Equipment.CheckedIn
                    </th>
                </tr>

                @foreach (var item in Model._notebook.Checkouts)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Checkout", item.CheckoutId, new { id = item.CheckoutId })<br />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dtCheckedOut);
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dtReturned);
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>This item has not been checked out.</p>
        }

        @if (Model._sold != null)
        {
            <h4>Sale Information</h4>
            <hr />
            <table>
                <tr>
                    <th>Sold on</th>
                    <th>Amount</th>
                <tr>
                    <th>
                        @Html.DisplayFor(model => model._notebook.Sale.dtSold)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model._notebook.Sale.SalePrice)
                    </th>
                </tr>
            </table>
        }
        
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model._notebook.NotebookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
