@using Resources
@model Jinete.ViewModels.MobilePhoneViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mobile Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._mobilePhone.EquipmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._mobilePhone.EquipmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._mobilePhone.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._mobilePhone.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._mobilePhone.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._mobilePhone.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._mobilePhone.Discarded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._mobilePhone.Discarded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._mobilePhone.LostOrStolen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._mobilePhone.LostOrStolen)
        </dd>

    </dl>

    <h4>User Information</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model._mobilePhone.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._mobilePhone.ApplicationUser.FirstName) @Html.DisplayFor(model => model._mobilePhone.ApplicationUser.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._mobilePhone.ApplicationUser.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._mobilePhone.ApplicationUser.Address)
        </dd>


        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model._mobilePhone.ApplicationUser.City), @Html.DisplayFor(model => model._mobilePhone.ApplicationUser.State) @Html.DisplayFor(model => model._mobilePhone.ApplicationUser.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._mobilePhone.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._mobilePhone.ApplicationUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._mobilePhone.ApplicationUser.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._mobilePhone.ApplicationUser.Phone)
        </dd>

    </dl>

    <h4>Checkout Information</h4>
    <hr />

    @if (Model._lastcheckout != null)
    {
        <table class="table">
            <tr>
                <th>
                    @Equipment.UserName
                </th>
                <th>
                    @Equipment.CheckedOut
                </th>
                <th>
                    @Equipment.CheckedIn
                </th>
            </tr>

            @foreach (var item in Model._mobilePhone.Checkouts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dtCheckedOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dtReturned)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>This item has not been checked out.</p>
    }

    @if (Model._sold != null)
    {
        <h4>Sale Information</h4>
        <hr />
        <table>
            <tr>
                <th>Sold on</th>
                <th>Amount</th>
            <tr>
                <th>
                    @Html.DisplayFor(model => model._mobilePhone.Sale.dtSold)
                </th>
                <th>
                    @Html.DisplayFor(model => model._mobilePhone.Sale.SalePrice)
                </th>
            </tr>
        </table>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model._mobilePhone.MobilePhoneId }) |
    @Html.ActionLink("Back to List", "Index")
</p>